.tSButton-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    left: 32%;
    gap: 20px;
    height: 30%;
    position: absolute;
    z-index: 100;
}

.typeSelect {
    background-color: black;
    font-family: techno;
    width: 250px;
    height: 120px;
    color: white;
    font-size: large;
    align-items: center;
    display: inline-block;
    transition: background-color 0.5s ease;
    
}

.typeSelect:hover{
    background-color: burlywood;
    color: black;
    cursor: pointer;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'techno';
    src: url(/weatherApp/assets/EHSMB.TTF);
}

.testButton {
    font-size: small;
    background-color: transparent;
    border: none;
    font-family: techno;
    transition: color 0.5s ease;
    margin: 5px;
}

.tbContainer {
    position:absolute;
    top: 70%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.testButton:hover {
    color: bisque;
    cursor: pointer;
}